---
BasedOnStyle: LLVM
AccessModifierOffset: -1
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: "Yes"
AttributeMacros:
  - TUPLET_NO_UNIQUE_ADDRESS
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ConstructorInitializerIndentWidth: 2
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 5
NamespaceIndentation: All
PenaltyBreakAssignment: 500
PenaltyReturnTypeOnItsOwnLine: 10000000
PointerAlignment: Left
SpaceBeforeCpp11BracedList: true
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
  - _detail_TUPLET_IMPL_COMPARISON_OPERATOR_1
TabWidth: 4
TypenameMacros:
  - TUPLET_CONCEPT
  - _TUPLET_TYPES_EQ_WITH
  - _TUPLET_TYPES_CMP_WITH
