name: CMake

on: [push, pull_request]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    name: ${{ matrix.name }}
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#configuring-a-build-matrix
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ubuntu-20.04-gcc-10
            os: ubuntu-20.04
            compiler: g++-10
            flags: ""
            build_type: Debug
            install_compiler: sudo apt install g++-10

          - name: ubuntu-20.04-clang-10
            os: ubuntu-20.04
            compiler: clang++-10
            flags: ""
            build_type: Debug
            install_compiler: sudo apt install g++-10 && sudo apt install clang-10

          - name: ubuntu-20.04-clang-12
            os: ubuntu-20.04
            compiler: clang++-12
            flags: ""
            build_type: Debug
            install_compiler: sudo apt install g++-10 && sudo apt install clang-12

          - name: ubuntu-20.04-clang-10-libc++
            os: ubuntu-20.04
            compiler: clang++-10
            flags: "-stdlib=libc++"
            build_type: Debug
            install_compiler: >
              sudo apt-get install
              clang++-10
              libc++-10-dev
              libc++1-10
              libc++abi1-10
              libc++abi-10-dev

          - name: ubuntu-20.04-clang-12-libc++
            os: ubuntu-20.04
            compiler: clang++-12
            flags: "-stdlib=libc++"
            build_type: Debug
            install_compiler: >
              sudo apt-get install
              clang++-12
              libc++-12-dev
              libc++1-12
              libc++abi1-12
              libc++abi-12-dev

          - name: windows-2022-cl
            os: windows-2022
            compiler: cl
            flags: ""
            build_type: Debug
            install_compiler: ""

    steps:
    - uses: actions/checkout@v2

    - name: Configure Build Environment
      shell: bash
      run: ${{ matrix.install_compiler }}

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{runner.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source
      # and build directories, but this is only available with CMake 3.13 and higher.
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -DALWAYS_FETCH=ON -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DCMAKE_CXX_COMPILER=${{ matrix.compiler }} -DCMAKE_CXX_FLAGS=${{ matrix.flags }}

    - name: Upload compile_commands.json
      uses: actions/upload-artifact@v2
      with:
        name: "${{matrix.name}} compile_commands.json"
        path: ${{runner.workspace}}/build/compile_commands.json

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config ${{ matrix.build_type }} --verbose

    - name: Test
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -V -C ${{ matrix.build_type }}
